@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 211.7 100% 95%;
  --foreground: 211.7 5% 0%;
  --card: 211.7 50% 90%;
  --card-foreground: 211.7 5% 10%;
  --popover: 211.7 100% 95%;
  --popover-foreground: 211.7 100% 0%;
  --primary: 211.7 96.4% 78.4%;
  --primary-foreground: 0 0% 0%;
  --secondary: 211.7 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 173.7 30% 85%;
  --muted-foreground: 211.7 5% 35%;
  --accent: 173.7 30% 80%;
  --accent-foreground: 211.7 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 211.7 5% 90%;
  --border: 211.7 30% 50%;
  --input: 211.7 30% 18%;
  --ring: 211.7 96.4% 78.4%;
  --radius: 0.5rem;
}
.dark  {
  --background: 211.7 50% 5%;
  --foreground: 211.7 5% 90%;
  --card: 211.7 50% 0%;
  --card-foreground: 211.7 5% 90%;
  --popover: 211.7 50% 5%;
  --popover-foreground: 211.7 5% 90%;
  --primary: 211.7 96.4% 78.4%;
  --primary-foreground: 0 0% 0%;
  --secondary: 211.7 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 173.7 30% 15%;
  --muted-foreground: 211.7 5% 60%;
  --accent: 173.7 30% 15%;
  --accent-foreground: 211.7 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 211.7 5% 90%;
  --border: 211.7 30% 18%;
  --input: 211.7 30% 18%;
  --ring: 211.7 96.4% 78.4%;
  --radius: 0.5rem;
}



}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* globals.css */

.tech-item {
  padding: 0.75rem; /* or use @apply for padding */
  background-color: transparent;
  border: 1px solid hsl(211.7 30% 18) ; /* using your CSS variable */
  border-radius: var(--radius); /* using your theme's radius */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tech-item:hover {
  background-color: var(--accent); /* Optional hover effect */
}

.tech-icon {
  font-size: 1.875rem; /* or use @apply text-3xl */
}

.tech-label {
  font-size: 1.125rem; /* or use @apply text-lg */
}

