---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
import ProjectOverview from '@/components/ProjectOverview.astro'
---

<Layout title="Shopping List | Projects">
  <main>
    <ProjectOverview
      title="Shopping List"
      description={[
        `This app is a simple, quality of life tool that my partner and I use almost every day! It is a basic shopping list tool built with React, TypeScript, Tailwind CSS, and Firebase (Authentication + Firestore). Users can sign in, add and edit items, check them off as they shop, and clear the entire list with one click. Items are grouped by grocery store departments for a smoother shopping experience. The app focuses on clean UI, responsive design, and real-time updates, offering a near-SPA experience for efficient list management.`,
      ]}
      siteUrl="https://shopping-list-bb775.web.app/"
      githubUrl="https://github.com/bradacraig/shopping-list"
      prototypeUrl=""
      techUsed={[
        { name: 'React', icon: 'react' },
        { name: 'Typescript', icon: 'ts' },
        { name: 'Tailwind', icon: 'tailwind' },
      ]}
      images={[
        {
          src: '/ShoppingList/shopping-list-bb775.web.app_ mobile.webp',
          alt: 'shopping list app screenshot',
        },
        {
          src: '/ShoppingList/ShoppingList-2.webp',
          alt: 'shopping list app screenshot showing dropdown',
        },
      ]}
    />
  </main>
</Layout>
