---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'

import Nav from '@/components/Nav.astro'

import OverviewTripHive from '@/components/OverviewTripHive.astro'
---


<Layout title="Brad Craig | Projects">
  <main>
    <OverviewTripHive id={'TripHive'} />
  </main>
</Layout>
