---
const { id } = Astro.props
---

<section id={id} class="bg-background">
  <div class="container mx-auto md:mt-10 outline-dashed">
    <!-- Heading Section (left-aligned) -->
    <div class="mx-auto px-4 md:px-16 flex flex-col items-start">
      <h2 class="nav-logo text-3xl mb-8 md:text-3xl">Contact</h2>
    </div>

    <!-- Contact Links Section (center-aligned) -->
    <div class="py-10 flex flex-wrap gap-4 items-center justify-center">
      <a href="mailto:brad.a.craig@gmail.com" class="hover:text-primary"
        >brad.a.craig@gmail.com</a
      >
      <a
        href="https://github.com/bradacraig"
        target="_blank"
        class="hover:text-primary">GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/bradalancraig"
        target="_blank"
        class="hover:text-primary">LinkedIn</a
      >
    </div>
  </div>
</section>
