---
import ProfilePic from './ProfilePic.astro'
import { Button } from './ui/button'
const { id } = Astro.props
---

<section id={id} class="bg-background">
  <div
    class="container mx-auto px-16 my-8 md:my-32 flex flex-col md:flex-row justify-between items-center "
  >
    <!-- Text section -->
    <div class="mx-8 md:mx-0 flex flex-col items-start">
      <h1 class="nav-logo lg:text-6xl text-5xl my-4">Brad Craig</h1>
      <div class="ml-1">
        <h2 class="nav-logo text-3xl lg:text-4xl text-blue-500">
          Web Developer
        </h2>
        <Button className="my-8">Let's connect</Button>
      </div>
    </div>
    <!-- Profile picture -->
    <div
      class="flex justify-center items-center  md:w-3/5 lg:w-2/5"
    >
      <ProfilePic />
    </div>
  </div>
</section>
