---
import { Icon } from 'astro-icon/components'
import CarouselComponent from './CarouselComponent'
import { Button } from './ui/button'

const { id } = Astro.props
---

<section id={id} class="bg-background">
  <div class="container mx-auto md:mt-10 flex flex-col">
    <!-- Heading Section -->
    <div class="px-4 md:px-16">
      <h1 class="nav-logo text-3xl mb-8 md:text-3xl">Trip Hive</h1>
    </div>

    <!-- About and Carousel Section -->
    <div class="px-4 md:px-16 flex flex-col lg:flex-row gap-10">
      <!-- About Section -->
      <div class="lg:w-1/2">
        <p>
          CodeQuest is a simple interactive multichoice quiz to help fledgling
          developers brush up on JavaScript concepts. The idea was to create
          something that Dev Academy foundations students could use as a study
          aid before making the transition into bootcamp.
        </p>
        <p class="mt-4">
          This was built during a friday group project at Dev Academy. These
          projects have a time limit of one day so have a bit of a hack-a-thon
          feel to them. I worked as part of a team of 5 students and took on the
          role of product owner, as well as writing some of the front end code.
        </p>
        <Button className="mt-4"
          ><a href="https://github.com/bradacraig/CodeQuest" target="_blank"
            >View Github</a
          ></Button
        >
      </div>

      <!-- Carousel Section -->
      <div class="lg:w-1/2">
        <CarouselComponent client:load />
      </div>
    </div>

    <!-- Tech Used Section -->
    <div class="px-4 md:px-16 my-10">
      <h2 class="nav-logo text-2xl mb-6">Tech Used:</h2>
      <ul class="flex flex-wrap gap-6 justify-center">
        <!-- List Items with hover effect for text -->
        <li class="flex flex-col items-center group">
          <Icon name="js" class="text-6xl" />
          <span class="text-sm mt-2 opacity-0 group-hover:opacity-100"
            >JavaScript</span
          >
        </li>
        <li class="flex flex-col items-center group">
          <Icon name="ts" class="text-6xl" />
          <span class="text-sm mt-2 opacity-0 group-hover:opacity-100"
            >TypeScript</span
          >
        </li>
        <li class="flex flex-col items-center group">
          <Icon name="react" class="text-6xl" />
          <span class="text-sm mt-2 opacity-0 group-hover:opacity-100"
            >React</span
          >
        </li>
        <li class="flex flex-col items-center group">
          <Icon name="sqlite" class="text-6xl" />
          <span class="text-sm mt-2 opacity-0 group-hover:opacity-100"
            >SQLite3</span
          >
        </li>
        <li class="flex flex-col items-center group">
          <Icon name="knex" class="text-6xl" />
          <span class="text-sm mt-2 opacity-0 group-hover:opacity-100"
            >Knex</span
          >
        </li>
        <li class="flex flex-col items-center group">
          <Icon name="vitest" class="text-6xl" />
          <span class="text-sm mt-2 opacity-0 group-hover:opacity-100"
            >Vite Test</span
          >
        </li>
        <li class="flex flex-col items-center group">
          <Icon name="tailwind" class="text-6xl" />
          <span class="text-sm mt-2 opacity-0 group-hover:opacity-100"
            >Tailwind</span
          >
        </li>
        <li class="flex flex-col items-center group">
          <Icon name="express" class="text-6xl" />
          <span class="text-sm mt-2 opacity-0 group-hover:opacity-100"
            >Express</span
          >
        </li>
      </ul>
    </div>
  </div>
</section>
