---
import { Icon } from 'astro-icon/components'
---
<div class="container mx-auto py-10">
  <div class="flex flex-wrap gap-2 items-center justify-center">
    <Icon name="html5" class='text-5xl' />
    <Icon name="css" class='text-5xl' />
    <Icon name="tailwind" class='text-5xl' />
    <Icon name="js" class='text-5xl' />
    <Icon name="ts" class='text-5xl' />
    <Icon name="react" class='text-5xl' />
    <Icon name="astro" class='text-5xl' />
    <Icon name="sqlite" class='text-5xl' />
    <Icon name="knex" class='text-5xl' />
    <Icon name="express" class='text-5xl' />
    <Icon name="git" class='text-5xl' />
    <Icon name="github" class='text-5xl' />
    <Icon name="webflow" class='text-5xl' />
    <Icon name="figma" class='text-5xl' />
    <Icon name="canva" class='text-5xl' />
  </div>
</div>
