---
import { Icon } from 'astro-icon/components'
---
<div class="container mx-auto py-10">
  <div class="flex flex-wrap gap-2 items-center justify-center">
    <Icon name="js" class='text-5xl' />
    <Icon name="ts" class='text-5xl' />
    <Icon name="react" class='text-5xl' />
    <Icon name="astro" class='text-5xl' />
  </div>
</div>
